---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import KeepInTouch from '../components/KeepInTouch.astro';
import Footer from '../components/Footer.astro';
import Technologies from '../components/Technologies.astro';
import Courses from '../components/Courses.astro';
import Projects from '../components/Projects.astro';
import HeaderNavbar from '../components/HeaderNavbar.astro';
---

<script>
	if (typeof window !== 'undefined') {
		const userLang = navigator.language;
		const lang = userLang.startsWith('es') ? '/es' : '/en';
		const currentPath = window.location.pathname;

		if (currentPath === '/') {
			window.location.href = lang;
		}
	}
</script>

<Layout>
	<main class="min-h-screen relative">
		<HeaderNavbar />
		<Hero />
		<Technologies />
		<Projects />
		<Courses />
		<KeepInTouch />
		<Footer />
	</main>
</Layout>
